  <mat-form-field appearance="standard">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
  </mat-form-field>

  <table class="table table-bordered table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Adresse</th>
      <th scope="col">Menu</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let tempRestaurant of restaurants">
      <td>{{ tempRestaurant.name }}</td>
      <td>{{ tempRestaurant.address }}</td>
      <td>{{ tempRestaurant.menu }}</td>
    </tr>
  </tbody>
</table>
  